<div class="container">
  <div class="row pt-5">
    <file-drop headertext="" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" customstyle="border:0px;"
      class="drop-zone" (onFileLeave)="fileLeave($event)">
      <span>Drop files here</span>
    </file-drop>
  </div>
  <div class="row">
    <div class="upload-table">
      <table class="table table-sm table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">%</th>
            <th scope="col">State</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of queue | async">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td>{{ item.progress + ' %' }}</td>
            <td>
              <span *ngIf="item.isPending()" class="badge badge-default">Pending</span>
              <span *ngIf="item.isSuccess()" class="badge badge-success">Uploaded</span>
              <span *ngIf="item.inProgress()" class="badge badge-warning">Uploading</span>
              <span *ngIf="item.isError()" class="badge badge-danger">Error</span>
              <span *ngIf="item.inQueued()" class="badge badge-secondary">Queued</span>
            </td>
            <td class="text-right">
              <a tooltip="Upload file" (click)="item.upload()" *ngIf="item.isUploadable()">
                <i class="fa fa-upload"></i>
              </a>
              <a tooltip="Cancel upload" (click)="item.cancel()" *ngIf="item.inProgress()">
                <i class="fa fa-times-circle"></i>
              </a>
              <a tooltip="Remove from queue" (click)="item.remove()" *ngIf="!item.inProgress()">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="uploadQueue()">Upload By Queue</button>
  </div>

</div>
