<mat-toolbar>
    <span>Memory Vault</span>

    <span class="example-fill-remaining-space"></span>

    <span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <span>Galleries</span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="navigate('/gallery/pending')">
                <mat-icon>dialpad</mat-icon>
                <span>Pending</span>
            </button>
            <button mat-menu-item (click)="navigate('/gallery/approved')">
                <mat-icon>voicemail</mat-icon>
                <span>Approved</span>
            </button>
        </mat-menu>
    </span>
    <span class="p-1"></span>
</mat-toolbar>
